<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >editing employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>editing employee</h1>
    <div th:each="el : ${post}">
    <form  method="post">
        <input type="text" th:value="${el.firstName}" name="firstname" placeholder="Name" class="form-control"><br>
        <input type="text" th:value="${el.lastName}" name="lastname" placeholder="Surname" class="form-control"><br>
        <input type="text" th:value="${el.companyId}" name="companyId" placeholder="CompanyID" class="form-control"><br>
        <textarea   name="role" placeholder="Role" class="form-control"th:text="${el.role}"/><br>
        <button type="submit" class="btn btn-success">editing employee</button>
    </form>
    </div>
</div>
<div th:insert="blocks/footer ::footer"></div>
</body>
</html>