<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >List of employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">

    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h3 th:text="${el.firstName}"/>
        <p th:text="${el.lastName}"/>
        <p th:text="${el.companyId}"/>
        <a th:href="'/employee/'+ ${el.id}+'/edit'" class="btn btn-warning" >Redirect</a>
        <form th:action="'/employee/' + ${el.id} +'/remove'"method="post" >
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
    </div>
</div>
<div th:insert="blocks/footer ::footer"></div>
</body>
</html>